name: Build

on:
  push:
    branches: [ "master","main" ]
  pull_request:
    branches: [ "master","main" ]


jobs:
  build:
    runs-on: Ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Build
        run: |
          dotnet build -c Release

      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: COM3D2.HighHeel.Plugin
          path: /home/runner/work/COM3D2.HighHeel/COM3D2.HighHeel/COM3D2.HighHeel/bin/Release/net35/COM3D2.Highheel.Plugin.dll
